<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-select.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.css">


	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap-select.js"></script>


	<script src="https://unpkg.com/ipfs/dist/index.js"></script>
	<script src="/sweetalert2/dist/sweetalert2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

	<!-- <script src="/jquery/dist/jquery.min.js"></script> -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
	<title>Zen Mail</title>
</head>

<body>
	<!-- outer container -->
	<div class="container">
		<!-- main page start -->
		<div class="row">
			<!-- rwd start -->
			<div class="col-xl-8 offset-xl-2 py-5">
				<!-- nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#main" role="tab">Send</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#receive" role="tab">Receive</a>
					</li>
				</ul>
				<!-- tab-content start -->
				<div class="tab-content">
					<!-- first tab main-->
					<div class="tab-pane container fade show active" id="main" role="tabpanel">
						<!-- form start -->
						<form id="contact-form" method="post" role="form" style="background-color: white">

							<div class="messages"></div>
							<div class="controls">
								<!-- first row -->
								<div class="row">
									<!-- sender field -->
									<div class="col-md-12">
										<div class="form-group">
											<label for="form_sender" class="color_black">Sender *</label>
											<select class="selectpicker form-control" id="form_sender" data-container="body" data-live-search="true" title="Please choose*"
											 required="required" data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="true" data-error="Sender is required."></select>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
								<!-- second row -->
								<div class="row">
									<!-- receiver field -->
									<div class="col-md-12">
										<div class="form-group">
											<label for="form_receiver" class="color_black">Receiver *</label>
											<select class="selectpicker form-control" id="form_receiver" data-container="body" data-live-search="true" title="Please choose*"
											 required="required" data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="true" data-error="Receiver is required."></select>
											<div class="help-block with-errors"></div>
										</div>
									</div>
								</div>
								<!-- second row -->
								<div class="row">
									<!-- File field -->
									<div class="col-md-6">
										<div class="form-Ｆgroup">
											<label for="form_file" class="color_black">File Attach</label>
											<input id="form_file" type="file" name="email" class="form-control" placeholder="Attach your File" multiple accept="image/*,.pdf,.mp4,.txt,.zip,.json"
											 draggable="true">
											<div class="files_list" name="files_list">Please attach your file</div>
											<div class="help-block with-errors"></div>

										</div>
									</div>
								</div>
								<!-- message box -->
								<div class="row">
									<!-- message field -->
									<div class="col-md-12">
										<div class="form-group">
											<label for="form_message" class="color_black">Content *</label>
											<textarea id="form_message" name="message" class="form-control" placeholder="Content for Receiver *" rows="4" required="required"
											 data-error="Please, leave us a message."></textarea>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<!-- button field -->
									<div class="col-md-12">
										<input type="submit" class="btn btn-success btn-send" value="Send" name="submitBtn">
									</div>
								</div>
								<!-- message box end -->
							</div>
							<!-- control end -->
						</form>
						<!-- form end -->
					</div>
					<!-- first tab main end -->

					<!-- second tab -->
					<div class="tab-pane container fade" id="receive" role="tabpanel">
						<div class="controls">
							<div class="row">
								<!-- dropdown field -->
								<div class="col-md-12">
									<select class="selectpicker form-control" id="number-multiple" data-container="body" data-live-search="true" title="Please choose"
									 data-hide-disabled="true" data-actions-box="true" data-virtual-scroll="true"></select>
								</div>
							</div>
							<div class="row">
								<!-- chart field -->
								<div class="col-md-12">
									<canvas id="bar-chart"></canvas>
								</div>
							</div>

							<div class="row">
									<!-- chart field -->
									<div class="col-md-12">
											<table id="table" class="table-striped" border="solid 1px black">
									</div>
								</div>
						</div>
						<!-- second tab end -->
					</div>
					<!-- tab-content end -->
				</div>
				<!-- rwd ends -->
			</div>
			<!-- main page end -->
		</div>
	</div>
	<script src="/js/index.js"></script>
</body>

</html>